*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: 100vh;
    background-image: url('/dino.jpg');
    background-position: center;
    background-size: cover;
}
.container .titolo
{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container .titolo h1
{
    color: orangered;
}
.container .dialogo
{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.container .dialogo span
{
    color: #fff;;
    font-size: 2rem;
}